@font-face {
  font-display: swap;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/opensans-regular-webfont.woff") format("woff"),
    url("../fonts/opensans-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/opensans-regular-webfont.woff") format("woff"),
    url("../fonts/opensans-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/helveticaneue-webfont.woff") format("woff"),
    url("../fonts/helveticaneue-webfont.woff2") format("woff2");
}
